.topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchbarContainer {
    margin: 30px 0px 30px 0px;
}


.filters{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: auto;
}

.filters>select{
    text-align: center;
    height: 26px;
   width: 150px;
   background-color:rgb(45, 162, 209)
}



.containernav{
   max-width: 1500px;
   height: 200px;
  
    display: flex;
    justify-content: center;
    
}

.button1{
width: 100px;


}

